In [6]:
import sqlite3
import os
import pandas as pd

In [2]:
dir = os.getcwd()
style = "Favorites.stylx"
conn = sqlite3.connect(os.path.join(dir,style))
c = conn.cursor()

In [7]:
sql = "SELECT * FROM ITEMS"
df = pd.read_sql(sql,con=conn)

In [15]:
csvdata = df.to_csv()
with open("test.csv",'w') as f:
    f.write(csvdata)

In [15]:
sql = "INSERT INTO ITEMS (ID,CLASS,CATEGORY,NAME,TAGS,CONTENT,KEY) VALUE(2,4,'NULL','yaya2','rgb;red;dash','{\"type\":\"CIMLineSymbol\",\"symbolLayers\":[{\"type\":\"CIMSolidStroke\",\"effects\":[{\"type\":\"CIMGeometricEffectDashes\",\"dashTemplate\":[30,8.5,1.5,20],\"lineDashEnding\":\"NoConstraint\",\"controlPointEnding\":\"NoConstraint\"}],\"enable\":true,\"capStyle\":\"Round\",\"joinStyle\":\"Round\",\"lineStyle3D\":\"Strip\",\"miterLimit\":10,\"width\":1,\"color\":{\"type\":\"CIMRGBColor\",\"values\":[160.65000000000001,62.649999999999999,74.090000000000003,100]}}]}\x00', 'test1')"
c.execute()sql

ValueError: the query contains a null character

In [16]:
conn.close()